<p>You have completed this portion of the experiment. You Will now be asked to complete a survey questionnaire that will collect demographics, beliefs, and attitudes that will help us analyze the data from the experiment. Your answers will be anonymous and will be used for research purposes only.</p>

<p><%= link_button("Proceed", :controller => "survey") %></p>


