<html>
  <head>
    <meta http-equiv="Expires" content="0" />
    <title>Experiment: Message</title>
    <%= stylesheet_link_tag("default", :media => :all) %>
  </head>

  <body>
    <div class="content">
      <div class="reminder-message">
        <p>
          <b>REMINDER:</b> <%= rule_filter(@message) %>
        </p>

        <div style="text-align: right;">
          <%= link_button("Proceed", :action => "report") %>
        </div>
      </div>
    </div>
  </body>
</html>
