<html>
  <head>
    <meta http-equiv="Expires" content="0" />
    <title>Experiment: Message</title>
    <%= stylesheet_link_tag("default", :media => :all) %>
  </head>

  <body>
    <div class="content">
      <div class="reminder-message">
        <p>
          <b>REMINDER:</b> The amount of income that you report may be audited for accuracy. If you are found to have reported less than your earned income, you will be required to pay the tax due on the unreported income plus a penalty equal to <%= @participant.experimental_group.penalty_rate %> times the unpaid taxes.
        </p>

        <div style="text-align: right;">
          <%= link_button("Proceed", :action => "report") %>
        </div>
      </div>
    </div>
  </body>
</html>
