<% @groups.each do |g| %>
  <td id="<%= g.shortname + session_participants.id.to_s %>">
    <%= session_participants.participants.find_all_by_experimental_group_id(g.id).count %>
  </td>
<% end %>
<td><%= session_participants.participants.count %></td>
