<tr class="unseen-participant">
  <td class="participant-number">
    <%= link_to(h(unseen_participant.participant_number),
                :action => :participant, :id => unseen_participant.id) %>
  </td>
  <td><%=h unseen_participant.experimental_group.name %></td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
</tr>
