<tr class="unseen-participant">
  <td class="participant-number"><%=h unseen_participant.participant_number %></td>
  <td><%=h unseen_participant.experimental_group.name %></td>
  <td><%=h unseen_participant.phase %></td>
  <td><%=h unseen_participant.page %></td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
</tr>
