<h1>Participants</h1>
<ul>
<% @participants.each do |participant| %>
<li><%= participant.participant_number %>
    <% if participant.experimental_session.is_active?
         if participant.is_active %>
           ACTIVE
         <% else %>
           Available
      <% end
    end %></li>
<% end %>
</ul>
