div#session-control
{
    margin-top: 10px;
    margin-bottom: 20px;
}

table.participants td
{
    padding-left: 4px;
}

tr.unseen-participants-header th
{
    padding-top: 10px;
}

tr.unseen-participant
{
    background: #DDD;
    color: #999;
}

tr.participants-header th
{
    border-bottom: 1px solid #DDD;
}

tr.current-participant td
{
    border-bottom: 1px solid #DDD;
}

tr.audited-participant td
{
    background: #FCC;
}

table.participants th
{
    padding-right: 20px;
    text-align: left;
}

td.participant-number
{
    font-family: Inconsolata, monospace;
}

table.session-list td, table.session-list th
{
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid #DDD;
}

tr.active-session td
{
    background: #FAA;
    padding-bottom: 10px;
    padding-top: 10px;
    border: none;
}

form.button-to, form.button-to div
{
    display: inline;
}

table#participant-details td
{
    border-bottom: 1px solid #DDD;
}

table#activity-log-table td
{
    border-bottom: 1px solid #DDD;
}

table#print-participant-numbers td
{
    font-size: 3.8em;
    text-align: center;
}
