body
{
    background: white;
}

body, td, th
{
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 80%;
}

div.experiment-content
{
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 300px;
}

div.content
{
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 120px;
}

div.tutorial-navigation
{
    border-top: 1px solid black;
    padding: 10px;
    padding-right: 20px;
    text-align: right;
}

h1
{
    font-family: Georgia, Times New Roman, serif;
    font-size: 200%;
    font-weight: normal;
}

h2
{
    font-family: Georgia, Times New Roman, serif;
    font-size: 160%;
    font-weight: normal;
}

span.bank
{
    float:right;
    background: #CCC;

    font-weight: bold;
    font-size: 250%;

    border: 2px solid black;
    padding: 10px;
}

span#task-timer
{
    float:right;
    background: black;

    font-family: Courier, Courier New, monospace;
    font-weight: bold;
    font-size: 4em;
    color: white;

    border: 4px solid gray;
    padding-left: 4px;
    padding-right: 4px;
}

div.earnings-report, div.report, div.results
{
    margin-left: 25px;
}

div.notification, div.reminder-message
{
    margin-left: 40px;
    width: 400px;
    padding: 10px;
    border: 5px solid black;
}

div.wait-message
{
    position: absolute;
    text-align: center;
    margin: 0px;
    padding: 0px;
    top: 120px;
    left: 0px;
    width: 100%;
}

div.error
{
    margin: 10px;
    padding: 10px;
    border: 2px solid red;
    color: red;
    font-weight: bold;
}

div.survey-question
{
    padding-bottom: 10px;
    border-bottom: 1px solid #CCC;
    margin-bottom: 10px;
}

div.overlay
{
    width: 100%;
    height: 100%;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 98;
}

div.error-dialog
{
    width: 30%;
    min-height: 25%;
    position: fixed;
    left: 33%;
    top: 20%;
    z-index: 99;

    border: 8px solid black;
    background: #F00;
    padding: 20px;
}

