<h1>Log In</h1>

<% if flash[:error] %>
<div class="error"><%= flash[:error] %></div>
<% end %>

<p>Please enter your participant number to log in:</p>
<% form_tag(:action => :login) do %>
  <%= text_field_tag("participant_number") %>
  <%= submit_tag("Log In") %>
<% end %>
