<%=markdown get_text('body') %>

<div class="example" style="background: #999;">
  <div style="border: 8px solid black; background: #F00; margin-left: 27%; margin-right: 30%; width: 40%; align: center; margin-top: 20px; padding: 20px; margin-bottom: 30px;">
    <div style="text-align: center; font-size: 4em; font-weight: bold; font-family: Georgia, Times New Roman, serif;">
      <nobr>N O T I C E</nobr>
    </div>

    <p style="font-size: 1.2em; font-family: Verdana, Helvetica, Arial, sans-serif;">
      <%=h @message %>
    </p>

    <div style="text-align: right;">
      <%= link_button("Proceed", :action => next_page) %>
    </div>
  </div>
</div>
