<html>
  <head>
    <title>Log In</title>
    <%= stylesheet_link_tag("default", :media => :all) %>
  </head>

  <body>
    <div class="content">
      <%= yield :layout %>
    </div>
  </body>
</html>
