<html>
  <head>
    <meta http-equiv="Expires" content="0" />
    <title>Survey</title>
    <%= stylesheet_link_tag("default", :media => :all) %>
  </head>

  <body>
    <div class="content">
      <h1>Survey</h1>
      <% if flash[:error] %>
        <div class="error"><%= flash[:error] %></div>
      <% end %>

      <% if @intro_text %>
        <p><%=h @intro_text %></p>
      <% end %>

      <%= yield :layout %>

    </div>
  </body>
</html>
